NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
HCAPTCHA_SECRET=your_secret_here
NEXT_PUBLIC_HCAPTCHA_SITE_KEY=

# IPFS Pinning (Pinata)
PINATA_JWT=your_pinata_jwt_here
PINATA_GATEWAY=gateway.pinata.cloud
